<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bilibili.live.player">

    <application>
        <activity
            android:name=".ui.VideoPlayerActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:screenOrientation="landscape"
            android:theme="@style/ColorTranslucentTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.LivePlayerActivity"
            android:theme="@style/ColorTranslucentTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
    </application>
</manifest>

