<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bilibili.live.region">

    <permission
        android:name="cc.permission.com.billy.cc.demo.REMOTE_CC"
        android:protectionLevel="signature" />

    <uses-permission android:name="cc.permission.com.billy.cc.demo.REMOTE_CC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        tools:replace="android:name,android:label,android:icon,android:theme,android:allowBackup"
        android:name="debug.BilibiliApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/region_module"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="debug.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityColorTranslucentTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bilibili.live.region.ui.RegionTypeDetailsActivity"
            android:theme="@style/OtherActivityColorTranslucentTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.bilibili.live.region.ui.LiveAppActivity"
            android:theme="@style/OtherActivityColorTranslucentTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <receiver
            android:name="com.billy.cc.core.component.ComponentBroadcastReceiver"
            android:permission="cc.permission.com.billy.cc.demo.REMOTE_CC" />
    </application>
</manifest>
