<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bilibili.live.base">

    <permission
        android:name="cc.permission.com.billy.cc.demo.REMOTE_CC"
        android:protectionLevel="signature" />

    <uses-permission android:name="cc.permission.com.billy.cc.demo.REMOTE_CC" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        tools:replace="android:label,android:icon,android:theme,android:allowBackup"
        android:name="com.bilibili.live.base.application.BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/base_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver
            android:name="com.billy.cc.core.component.ComponentBroadcastReceiver"
            android:permission="cc.permission.com.billy.cc.demo.REMOTE_CC" />
    </application>
</manifest>
