<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bilibili.live.details">

    <application>
        <activity
            android:name="com.bilibili.live.details.ui.VideoDetailsActivity"
            android:theme="@style/OtherActivityColorTranslucentTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
    </application>
</manifest>
