<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bilibili.live.region">

    <application>
        <activity
            android:name="com.bilibili.live.region.ui.RegionTypeDetailsActivity"
            android:theme="@style/OtherActivityColorTranslucentTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.bilibili.live.region.ui.LiveAppActivity"
            android:theme="@style/OtherActivityColorTranslucentTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
    </application>
</manifest>
