<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bilibili.live.region">

    <application
        android:icon="@mipmap/ic_launcher"
        tools:replace="android:label"
        android:label="@string/region_app_name">
        <activity
            android:name="com.bilibili.live.region.ui.RegionTypeDetailsActivity"
            android:theme="@style/MainActivityColorTranslucentTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
    </application>
</manifest>
