<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bilibili.live.browser">

    <application>
        <activity
            android:name=".ui.BrowserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityColorTranslucentTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
    </application>

</manifest>